{% extends "admin/change_form.html" %}
{% load staticfiles i18n admin_urls static admin_modify %}
{% block extrahead %}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'admin/js/calendar.js' %}"></script>
    <script src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}"></script>
    <script src="{% static 'admin/js/jquery.init.js' %}"></script>
    <script src="{% static 'js/js.cookie.min.js' %}"></script>
    <script src="{% static 'admin/js/core.js' %}"></script>

    <script type="text/javascript">
        var csrftoken = Cookies.get('csrftoken');
        function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        <!-- TODO  fix $ = django.jQuery -->
        django.jQuery.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
      django.jQuery(document).ready(function() {
        django.jQuery('#id_group').change(function() {
          django.jQuery.ajax({
            type: 'POST',
            url: "{% url 'core:get_group_fee' %}",
            data: {'group_id': django.jQuery('#id_group').val()},
            success: function(data, _status) {
              django.jQuery('#id_monthlyFee').val(data.group_fee);
            },
            dataType: "json"
          });
        });
      });
    </script>
{% endblock %}